.catItem {
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.catItem img {
    max-width: 150px;
    max-height: 280px;
}

.catItem .deleteBtn {
    position: absolute;
    font-size: 13px;
    border-radius: 50%;
    background-color: #ffffff;
    top: -7px;
    right: -7px;
}

.catItem .copyBtn {
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    background-color: #ceab93;
    box-shadow: 3px 3px 2px #bb9c86;
    border-radius: 30px;
}

.catItem .copyBtn:hover {
    background-color: #ad8b73;
}

.catItem .copyBtn:active {
    background-color: #614d3f;
    box-shadow: 3px 3px 2px #584639;
}
