span {
    font-size: 14px;
    margin-top: 20px;
}

.favorites {
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 15px;
    padding-left: 0;
    overflow-x: auto;
}
