.maincard button {
    position: relative;
    right: 35px;
    bottom: 15px;
}

.maincard img {
    max-width: 400px;
    max-height: 350px;
    margin: 0 auto;
}

.maincard button {
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 2px 2px 3px #d9d9d9;
}
